:root {
	--primary-blue: #14287b;
	--secondary-blue: #2880fb;
	--main-yellow: #fef22e;
	--main-white: #f8f8f8;
	--main-gray: #d7d6d0;
	--main-paragraph: #646464;
}

* {
	scroll-behavior: smooth;
	box-sizing: border-box;
}

/* ------------------- */
/* reset    */
/* ------------------- */

body,
h1,
h2,
h3,
h4,
h5,
p {
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
p {
	font-weight: 400;
}

input,
button,
textarea,
select {
	font-family: inherit;
}

/* ------------------- */
/* Utility classes     */
/* ------------------- */

.flex {
	display: flex;
}

.grid {
	display: grid;
}

.heading {
	font-size: 4rem;
	font-weight: 700;
}

.sub-heading {
	font-size: 2rem;
	font-weight: 600;
}

.regular-paragraph {
	color: var(--main-paragraph);
}

/* ------------------- */
/* general   */
/* ------------------- */

body {
	font-family: "Inter", sans-serif;
	min-height: 100vh;
}

/* head-banner */

.head-banner {
	background-color: var(--secondary-blue);
	color: #ffff;
}

.head-banner-nav .head-banner-breadcrumb:hover {
	cursor: pointer;
	color: var(--main-yellow);
}

.head-banner-nav .head-banner-breadcrumb__current {
	color: var(--main-yellow);
}
