@import "../../index.css";

.requsting-estimate-section {
    margin-bottom: 4rem;

    .content {
        .header {
            color: var(--primary-blue);
            font-size: 2.8rem;
        }

        .list {
            ul {
                li {
                    .sub-heading {
                        color: var(--primary-blue);
                        font-size: 1.5rem;

                        .fa-check {
                            font-size: 1.2rem;
                            color: var(--secondary-blue);
                            border: 4px solid var(--secondary-blue);
                            border-radius: 50%;
                        }
                    }
                }
            }
        }
    }

    .form {
        background-color: var(--secondary-blue);
        border-radius: 5px;

        .sub-heading {
            color: var(--main-white);
        }

        .two-input-at-row {
            display: flex;
            gap: 0.2rem;
            /* Add gap between input fields */

            .form-control {
                max-width: 80%;
                /* Limit max width of the inputs */
                margin: auto 3px;
                /* Optional: Space between inputs */
            }
        }
    }
}