@import url(./general.css);
@import url(./home.css);
@import url(./service-details.css);

/* ------------------- Color Classes ------------------- */

.gray {
	color: var(--main-gray);
}

a {
	text-decoration: none !important;
}

Link {
	text-decoration: none !important;
}
/* ------------------- Button Styles ------------------- */
.main-btn {
	background-color: var(--main-yellow);
	color: black !important;
	text-align: center;
	border-radius: 2px !important;
	width: 100%;
	transition: all 0.3s ease;
}

.main-btn:hover {
	background-color: #e0d60f;
}

.btn-white {
	background-color: var(--main-white);
	color: black !important;
	text-align: center;
	border-radius: 2px !important;
}

/* ------------------- Container Styles ------------------- */

.container {
	max-width: 80% !important;
}

/* ------------------- Card Styles ------------------- */
.blog-card {
	.card {
		background: var(--main-white);
		overflow: hidden;
		border: 0 !important;
		cursor: pointer;
		padding-bottom: 0 !important;
		background: var(--main-white);
		overflow: hidden;
		border: 0 !important;
		cursor: pointer;
		padding-bottom: 0 !important;
	}

	.hover-shadow-lg:hover {
		box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3) !important;
	}

	.transition {
		transition: all 0.4s ease-in-out !important;
	}

	.hover-card:hover .card-img img {
		transform: scale(1.1);
	}

	.card-img {
		overflow: hidden;
		border-radius: 0.25rem;
	}

	.card i {
		color: var(--secondary-blue);
		padding-right: 7px;
	}

	.card-img {
		width: 100 !important;
	}

	.card-title {
		font-size: 1.2rem;
		padding: 10px 0;
		font-weight: bold;
		color: var(--primary-blue) !important;
	}

	.card-text {
		color: var(--main-paragraph);
	}

	.card-text-title {
		color: var(--main-paragraph);
		display: flex;
		align-items: center;
	}

	.card-text-title::before {
		content: "";
		height: 2px;
		width: 15px;
		background-color: var(--main-gray);
		margin-right: 10px;
	}

	.card-footer {
		background: var(--main-white);
		margin-top: 0.2rem;
		padding-top: 1.3rem;
		font-size: 0.8rem;
		display: flex;
		justify-content: space-between;
		background: var(--main-white);
		margin-top: 0.2rem;
		padding-top: 1.3rem;
		font-size: 0.8rem;
		display: flex;
		justify-content: space-between;
	}

	.card-footer i {
		color: var(--main-gray);
	}
}

/* ------------------- Aside Component Styles ------------------- */
.Aside {
	background-color: rgb(250, 250, 250);
	width: 100%;
	padding: 2.4rem;
	margin-bottom: 2.2rem;
	border-radius: 4px;
}

.Aside-title {
	position: relative;
	color: var(--primary-blue);
	width: max-content;
	padding-left: 20px;
	margin-bottom: 1.4rem;
}

.Aside-title h3 {
	font-size: 1.2rem;
	font-weight: bold;
}

.Aside-title::before {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	width: 4px;
	height: 25px;
	background-color: var(--secondary-blue);
	margin-right: 50px;
}

.Aside-content {
	width: 100%;
}

/* -----------Search component--------- */
.input-container {
	position: relative;
	width: 100%;
}

.input-field {
	width: 100%;
	border-radius: 2px !important;
	border: none !important;
	outline: none !important;
	font-size: 16px;
}

.input-field::placeholder {
	color: #a3a3a3;
	font-size: 0.8rem;
}

.input-field:focus {
	border: none !important;
	outline: none !important;
}

.search-icon {
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	color: var(--primary-blue);
	font-size: 16px;
}

/* ----------categories---------- */
.accordion-item button:focus,
.accordion-item button:not(.collapsed) {
	border: none !important;
	outline: none !important;
	box-shadow: none !important;
	background-color: var(--main-white) !important;
	border-bottom: 2px solid var(--secondary-blue) !important;
	border: none !important;
	outline: none !important;
	box-shadow: none !important;
	background-color: var(--main-white) !important;
	border-bottom: 2px solid var(--secondary-blue) !important;
}

.accordion-button::after {
	display: none !important;
}

.accordion-button {
	position: relative;

	text-align: left;

	padding-left: 30px !important;
}

.accordion-button::before {
	content: "";
	display: block;
	width: 8px;
	height: 8px;
	border-right: 2px solid var(--primary-blue);
	border-bottom: 2px solid var(--primary-blue);
	position: absolute;
	left: 10px;
	transform: rotate(-45deg);
	transition: transform 0.3s ease;
}

.accordion-button:not(.collapsed)::before {
	transform: rotate(45deg);
}

/*---------Posts----------*/
.list-group-item span {
	color: var(--main-paragraph);
	font-size: 12px;
	font-weight: bold;
}
.list-group-item h5 {
	font-size: 16px;
	font-weight: bold;
}

/* ---------Form--------- */
.Aside-form {
	background-color: var(--primary-blue);
	padding: 2.4rem;
	margin-bottom: 2.2rem;
	border-radius: 4px;
}

.Aside-form .input-group {
	width: 100%;
}

.Aside-form .input-field::placeholder {
	text-align: center;
}

/* -------Archive--------- */
.archives {
	.list-group span {
		color: var(--main-gray);
	}

	.list-group-item {
		margin-bottom: 2px;
	}
}

/*-----------Tags-----------*/

.tag-item {
	text-decoration: none;
	font-size: 14px;
	padding: 10px;
	margin: 2px;
	font-weight: 300;
	background-color: #fff !important;
	transition: all 0.3s ease;
	text-decoration: none;
	font-size: 14px;
	padding: 10px;
	margin: 2px;
	font-weight: 300;
	background-color: #fff !important;
	transition: all 0.3s ease;
}

.tag-item:hover {
	background-color: var(--secondary-blue) !important;
	color: var(--main-white) !important;
}
